.item {
  padding: 5px 7px;
  line-height: 1;
  background-color: #202020;
  border: 1px solid #303030;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: #303030;
    border-color: #404040;
  }

  &--not-it {
    text-decoration: line-through;
  }

  &--it {
    border-color: green;

    &:hover {
      border-color: green;
    }
  }
}
