.card {
  background-color: #101010;
  border: 1px solid #202020;
  padding: 20px;
  border-radius: 6px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
  }

  &__title {
    line-height: 1;
    padding-bottom: 0;
  }

  &__body {}
}
