.card {
  background-color: #101010;
  border: 1px solid #202020;
  padding: 20px;
  height: 100%;

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    margin-bottom: 1rem;
  }

  &__body {}
}
