<div class="ghost-description">
  <h1 class="ghost-description__name">{{ ghost.name }}</h1>
  <hr />
  <p></p>

  <h4>Evidences:</h4>
  <ul>
    <li *ngFor="let evidence of ghost.evidences">
      {{ evidence }} <span *ngIf="ghost.forcedEvidence === evidence" class="ghost-description__forced">(forced)</span>
    </li>
  </ul>
  <hr />
  <p></p>

  <h4>Bullit points:</h4>
  <ul>
    <li *ngFor="let point of ghost.bulitPoints">{{ point }}</li>
  </ul>
  <hr />
  <p></p>

  <h4>Resources:</h4>
  <li *ngIf="ghost.speedRunable">
    <a href="https://www.youtube.com/watch?v=qPgizYuP8SM&ab_channel=Insym" target="_blank">Insym speedrun strat</a>
  </li>
  <ul>
    <li *ngFor="let resource of ghost.resources">
      <a [href]="resource.url" target="_blank">{{ resource.title }}</a>
    </li>
    <li>
      <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=3025678165" target="_blank">General Steam guide</a>
    </li>
  </ul>
</div>
