body {
    .mat-dialog-container {
        color: inherit;
        background-color: transparent;
        padding: 0;
        border-radius: 0;
        box-shadow: none;
        max-height: 100vh;
    }
}
