@import 'var/color';

body {
    .cdk-overlay-pane {
        max-width: 100% !important;
    }

    .cdk-overlay-backdrop {
        backdrop-filter: blur(5px);
        background-color: rgba($c-black, .96);
    }
}
