<div class="app">
  <div class="app__logo">
    <img
      class="app__logo-image"
      src="assets/phasmophobia.png"
      alt="logo phasmophobia"
    />
  </div>

  <app-card [title]="'Ghosts'" class="app__ghosts">
    <div class="ghosts">
      <app-item *ngFor="let ghost of ghosts" [status]="ghost.status">
        {{ ghost.name }}
      </app-item>
    </div>
  </app-card>

  <app-card [title]="'Evidence'" class="app__evidences">
    <span actions>reset</span>

    <div class="evidences">
      <app-item
        class="evidences__evidence"
        *ngFor="let evidence of evidences"
        (click)="changeEvidenceStatus(evidence)"
        [status]="evidence.status"
      >
        {{ evidence.name }}
      </app-item>
    </div>
  </app-card>

  <app-card [title]="'Ghost description'" class="app__ghost-description">
  </app-card>
</div>
