.app {
  width: 800px;
  margin: 200px auto;
  padding: 20px;
  border-radius: 4px;
  display: grid;
  grid-template-areas:
    "ghosts evidences"
    "ghostDescription  ghostDescription";
  gap: 20px;

  &__ghosts {
    grid-area: ghosts;
  }

  &__evidences {
    grid-area: evidences;
    height: auto;
  }

  &__ghost-description {
    grid-area: ghostDescription;
  }
}

.ghosts {
  display: grid;
  gap: 4px;
  grid-template-columns: 1fr 1fr;
}

.evidences {
  display: grid;
  gap: 4px;
  grid-template-columns: 1fr 1fr;

  &__evidence {

    &:last-of-type {
      grid-column: span 2;
      // grid-area: two;
    }
  }
}
