<div class="app">
  <app-card title="Ghosts" class="app__ghosts">
    <div class="ghosts">
      <app-item *ngFor="let ghost of posibleGhosts">
        {{ ghost.name }}
      </app-item>
    </div>
  </app-card>

  <app-card title="Evidence" class="app__evidence">
    <div class="evidence">
      <app-item
        *ngFor="let evidence of posibleEvidences"
        (click)="changeEvidenceStatus(evidence)"
      >
        {{ evidence.name }}
      </app-item>
    </div>
  </app-card>

  <app-card title="Ghost description" class="app_ghost-description"> </app-card>
</div>
